.container {
  width: 350px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(245, 245, 245, 0.7);
  padding: 24px;
  border-radius: 10px;
  display: table-cell;
  text-align: center;
  vertical-align: middle
}


.title {
  text-align: center;
  margin-bottom: 24px;
}

.loginBtn {
  width: 100%;
}